/* sass --watch main.scss:main.css */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Basic Type
# Element Defaults
  ## Nav
  ## Structure
  ## Elements
# Page Agonistic Overrides
  ## Structure
  ## Elements
# Page Specific Overrides
  ## Structure
  ## Elements
# Responsive Layout
--------------------------------------------------------------*/
:root {
  /* color: primary */
  --black: #000000;
  --white: #ffffff;
  --mint: rgb(129,214,195);
  --red: rgb(255,115,85);
  --red-light: rgb(254, 244, 235);
  --grey: rgb(191,190,171);
  --grey-light: rgba(191,190,171, 0.15);
  /* color: secondary */
  --brown: rgb(129,97,65);
  --red-dark: rgb(191,86,57);
  --green-dark: rgb(97,159,131);
  --red-vivid: rgb(255,52,28);
  --red-medium: rgb(250, 211, 180);
  --green-vivid: rgb(65,180,149);
  --green-light: rgb(166,255,223);
  --indent: 2.5rem;
  --pad: 2rem;
  --pad-small: 1rem;
  --pad-large: 4rem;
  --size-base: 18px;
  --size-xlarge: 3rem;
  --size-large: 2.1rem;
  --size-medium: 1.8rem;
  --size-small: 1.2rem;
  --size-xsmall: 0.8rem;
  --max-width: 750px;
  --width: 80%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /*font-variation-settings: "SOFT" var(--SOFT);*/
}

html {
  max-width: 100%;
  min-height: 100%;
  -webkit-text-size-adjust: none;
  font-size: var(--size-base);
  scroll-behavior: smooth;
}

body {
  padding: var(--pad);
  background-color: var(--red-light);
}

/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Basic Type
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  
*/
body {
  font-family: "Noe Text";
  font-variant-ligatures: normal;
  font-weight: 450;
}

strong, b {
  font-weight: bold;
}

ul, li, ol {
  list-style: none;
}

h1, h2, h3, h4 {
  font-weight: normal;
  font-weight: 700;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h1 i, h1 em,
h2 i, h2 em,
h3 i, h3 em,
h4 i, h4 em {
  font-weight: 700;
  font-style: italic;
}

h1 {
  font-weight: 200;
  font-size: var(--size-large);
}

h2 {
  font-size: var(--size-small);
  font-weight: bold;
  /*margin-bottom: var(--pad-large);*/
}

a {
  color: var(--red);
  text-decoration: none;
  border-bottom: 1px solid;
}

footer {
  font-family: "Atlas Grotesk";
  font-weight: 400;
  font-size: var(--size-xsmall);
}

/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Element Defaults
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  
*/
/* Nav: Global */
nav {
  font-size: var(--size-xsmall);
  font-family: "Atlas Grotesk";
  font-weight: 700;
  display: flex;
}
nav .menu_toggle {
  display: inline-block;
  width: 24px;
  margin-right: calc(var(--pad)/2);
}
nav .menu_toggle .line {
  background-color: var(--black);
  height: 3px;
  margin-bottom: 3px;
}
nav .menu_title {
  position: relative;
  top: -2px;
}

#logo {
  position: absolute;
  width: 120px;
  top: var(--pad);
  right: var(--pad);
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  padding: var(--pad);
}

main {
  width: calc(100vw - 20rem);
  max-width: var(--max-width);
  margin: 0 auto;
}

/* Nav: Article */
.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 100vh;
  background-color: var(--red);
  transition: opacity linear 0.1s;
  min-height: 0vh;
}

a.progress_bookmark {
  font-size: var(--size-xsmall);
  position: fixed;
  left: 0;
  display: flex;
  z-index: 100;
  border-bottom: none;
  cursor: pointer;
  color: var(--black);
}
a.progress_bookmark.chaptermark .dot {
  background-color: black;
}
a.progress_bookmark.chaptermark .text {
  opacity: 1;
}
a.progress_bookmark .dot {
  width: 10px;
  height: 5px;
  background-color: var(--red-vivid);
  margin-right: 5px;
}
a.progress_bookmark .text {
  margin-top: -12px;
  display: flex;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
a.progress_bookmark .text img {
  width: 15px;
  height: auto;
  margin-right: 5px;
}
a.progress_bookmark .text span {
  display: inline-block;
  margin-top: 3px;
}
a.progress_bookmark:hover .text, a.progress_bookmark:hover img {
  opacity: 1;
}

.bookmark {
  opacity: 0;
  display: flex;
  font-family: "Atlas Grotesk";
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  align-items: center;
  width: 140px;
  margin-left: -140px;
  transition: opacity 0.3s ease-in;
  text-align: right;
}
.bookmark div {
  position: absolute;
  right: 30px;
  cursor: pointer;
}
.bookmark div:hover {
  font-weight: 700;
}
.bookmark img {
  position: absolute;
  right: 0;
  width: 25px;
}

.chapter-indicators {
  font-family: "Atlas Grotesk";
  font-size: var(--size-xsmall);
}
.chapter-indicators .indicator-title {
  position: fixed;
  top: 20vh;
}

/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Page Agonistic Overrides
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  
*/
.red {
  color: var(--red);
}

.article .title {
  width: 80%;
  padding: 5rem 0;
}
.article .title h1, .article .title h3 {
  margin-block-start: 0;
  margin-block-end: 0.25em;
}
.article .title h1 {
  font-size: var(--size-xlarge);
  line-height: calc(var(--size-xlarge)*1);
  font-family: "Noe Text";
}
.article .title h3 {
  font-family: "Atlas Grotesk";
  font-size: var(--size-large);
  font-weight: 300;
}
.article .body {
  padding-bottom: var(--pad);
}
.article .body ::selection,
.article .body .selected,
.article .body .marked {
  background-color: var(--red-medium);
}
.article .body h1, .article .body h2, .article .body .intro {
  font-family: "Noe Display";
  font-size: var(--size-large);
  line-height: calc(var(--size-large)*1.2);
  font-weight: 400;
}

/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Page Specific Overrides
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  
*/
/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Responsive Layout
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  
*/

/*# sourceMappingURL=main.css.map */
